.leader-board-container {
  margin-top: 2%;
  padding: 0 1%;
  display: inline-block;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.leader-board-bar {
  width: 100%;
  display: block;
  // max-width: 400px;
}

.leader-board-button {
  width: 100%;
  // max-width: 300px;
}

.leader-board-center-align {
  text-align: center;
}