div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 What we like best

.wish-list-body
  .container
    .row
      .col-lg-12
        h1.page-header Leader board:
        .form-group
          input#application-search-bar.form-control(type='text', ng-model='filterName' placeholder='Filter by snack name')
        .col-md-4.col-lg-4.col-sm-6(ng-repeat='snackItem in snackList | wishListFilter:filterName track by myTracking(snackItem)')
          div.snack-image(ng-style="getBackgroundImage(snackItem.snackImageUrl)")
          div.snack-info
            div.snack-name {{snackItem.snackName}}
            div Likes: {{snackItem.likes}}
            div Requested: {{snackItem.requestedTimes}} times
            div.snack-buttons
              button.snack-like-button.btn.btn-default.btn-xs(ng-click="updateLikeStatus(snackItem)") {{checkLikeStatus(snackItem)}}
              button.snack-like-button.btn.btn-default.btn-xs(ng-click="updateMarkStatus(snackItem)")  order again
          div.snack-clear-float

  .wish-list-footer
    footer.footer
      .container
        p
          | Snacks Wish List Beta