.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #5EB547;
}

.footer {
    text-align: center;
    padding: 30px 0;

    border-top: 1px solid #E5E5E5;
    color: #8d9999;
}

.page-header {
    color: #fff;
}

.wish-list-body {
    background-color: #303D2D;
}

.wish-list-footer {
    background-color: #303D2D;
    padding-top: 70px;
}

html, body, div[ng-app="altitudeLabsApp"], body > div:first-of-type {
    height: 100%;
}

.snack-image {
    padding-bottom: 43.75%;
    /* margin-top: 36px; */
    /* min-height: 300px; */
    width: 70%;
    /* min-width: 15vh; */
    /* max-width: 300px; */
    border: #fff solid 5px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.snack-info {
    width: 100%;
    color: white;
    padding: 4% 0px 0px 15%;
    /* margin: auto; */
    /* float: left; */
}

.snack-name {
    font-size: 21px;
}

.snack-buttons {
    text-align: right;
    padding-right: 15%;
}

.snack-clear-float {
    clear: both;
}

.snack-like-button {
    margin: 5% 5% 0 0;
    color: white;
    background-color: #5EB547;
    border-width: 1px;
    border-color: rgba(48, 61, 45, 0.5);
}

.snack-update {
    display: inline-block;
    background-color: #5EB547;
    border-width: 1px;
    color: white;
    border-color: rgba(48, 61, 45, 0.5);
}