.modal-header
  h3.modal-title I want to have...
.modal-body
  form
    .form-group
      label(for='snackName') Snack Name
      input#snackName.form-control(type='text', placeholder='Name of the snack', ng-model="snackName")
    .form-group
      label(for='shopLocation') Shop(comma separated)
      input#shopLocation.form-control(type='text', placeholder='The snack can be bought at...', ng-model="snackShops")
    .form-group
      label(for='snackPrice') Price
      input#snackPrice.form-control(type='text', placeholder='Optional.', ng-model="snackPrice")
    .form-group
      label(for='snackAmount') Amount&nbsp;&nbsp;
      input#snackAmout.form-control(type='text', placeholder='Required', ng-model="snackAmount")
    .form-group
      label(for='imageUrl') Snack Image Url
      input#imageUrl.form-control(type='text', placeholder='Required.', ng-model="snackImageUrl")
      div.preview-image(ng-style="showPreviewImage(snackImageUrl)")


.modal-footer
  button.btn.btn-success(type='button', ng-click='createNewItem()') Add!
  button.btn.btn-warning(type='button', ng-click='cancel()') Cancel